body {
    margin: 0;
}
main{
    background-color: #cbcbcb;
    margin: 13px;
    padding: 5px;
}
main >div{
    margin-left: 20px;
    margin-right: 20px;
}
p{
    font-size: 16px;
    font-family: 'Playfair Display',sans-serif;
    text-indent: 20px;
    margin: 0px;
}
h1,h2,h3, h4{
    font-family: titulo;
}