@font-face{
    font-family: titulo;
    src:url(./BlackRunters.otf)
}
/* [] */
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px
}
.header > div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
}
.header >div>ul{
    list-style-type: armenian;
}
.header > div >h4{
    display: flex;
    justify-content: center;
}
.tit{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.tit > h1 {
    border-bottom: solid;
    border-right: solid;
    border-bottom-width: 2.5px;
    border-right-width: 7.5px;
    border-color: rgb(233, 138, 36);
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 80px;
    padding-right: 10px;
    display: flow-root;
    justify-content: center;
    padding-top: 15px;
    font-family: titulo;
}
.tit > h3{
    font-size: 20px;
    padding-left: 5px;
    font-family: titulo;
}
.pt2 {
    margin-left: 30px;
}
.pt3 {
   display: flex;
   font-size: small;
   text-wrap: wrap;
   min-height: fit-content;
   margin-left: 20px;
   margin-right: 20px;
}
.subpt3text {
    display: flex;
    flex-wrap: wrap;
    width: 344px;
    min-width: 344px;
    max-height: auto;
    justify-content: space-between;
}
.subpt3 {
    min-height: fit-content;
    max-height: fit-content;
}
.not4, .not5, .not6, .not7, .not8 {
    margin-left: 10px;
    text-wrap: wrap;
    font-size: 12px;
}
.not4 {
    width: 150px;
    height: 340px;
}
.not5 {
    margin-left: 30px;
    margin-top: 100px;
    width: 150px;
    height: 450px;
}
.not6 {
    margin-top: -300px;
    width: 150px;
    height: 480px;
}
.not7 {
    margin-top: -130px;
    width: 150px;
    height: 370px;
}
.not8 {
    margin-top: -210px;
    width: 150px;
    height: 310px;
}
.subpt3 {
    margin-left: 100px;
}
.charge > p{
    margin-top: -30px;
    font-size: x-small;
}