@font-face{
    font-family: titulo;
    src:url(./BlackRunters.otf)
}
/* [] */
.header {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px
}
.header > div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
}
.header >div>ul{
    list-style-type: armenian;
}
.header > div >h4{
    display: flex;
    justify-content: center;
}
.tit{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.tit > h1 {
    border-bottom: solid;
    border-right: solid;
    border-bottom-width: 2.5px;
    border-right-width: 7.5px;
    border-color: rgb(233, 138, 36);
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 80px;
    padding-right: 10px;
    display: flow-root;
    justify-content: center;
    padding-top: 15px;
    font-family: titulo;
}
.tit > h3{
    font-size: 20px;
    padding-left: 5px;
    font-family: titulo;
}
.TragediaRS {
    display:flow;
    margin: 5px;
}
.TragediaRS-p{
    display: flex;
    justify-content: left;
}
.TragediaRS-p>p{
    margin: 7px;
    width: 120px;
}
.leg{
    font-size: 10px;
}
.pt1 {
    display: flex;
    padding-left: 10px;
    justify-content: space-around;
}
.not1 {
    display: flow;
}
.pt2 {
    display: flex;
    justify-content: right;
}
.subpt20{
    margin: 15px;
    width: 350px;
}
.subpt21{
    width: 350px;
}
.not3 {
    padding: 10px;
}
.pt3 {
   text-wrap: wrap;
   min-height: fit-content;
}
.subpt3text {
    display: flex;
    flex-wrap: wrap;
    width: 344px;
    min-width: 344px;
    max-height: auto;
    justify-content: space-between;
}
.subpt3 {
    min-height: fit-content;
    max-height: fit-content;
}
.not4, .not5, .not6, .not7, .not8 {
    width: 150px;
    margin-left: 10px;
    margin-right: 20px;
}
.not6 {
    width: 150px;
    height: 480px;
}
.not7 {
    width: 150px;
}
.not8 {
    width: 150px;
    height: 310px;
}
.subpt3 {
    margin-top: 10px;
}
.subpt31{
    display: flex;
}
.linha6 {
    width:min-content;
    display: grid;
    text-wrap: wrap;
}
.charge {
    margin-left: 60px;
    margin-top: 70px;
}
.charge > p{
    margin-top: -30px;
}